.column-left{
	float: left;
	width: 270px;
	margin-left: 10px;

	> .box{
		border-radius: 5px;
		margin-top: 10px;
		background-color: white;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
		.prof-row {
			background: none;
			height: 60px;
			> .container {
				>ul {
					.clearfix();
					position: relative;
					list-style: none;
					margin-left: -25px;
					>li {
						box-sizing: border-box;
						display:block;
						float: left;
						margin-right: 50px;
						>a {
							&:hover {
								text-decoration: none;
							}
							color: @brand-primary;
							font-weight: 400;
							font-size: 10px;
							>span {
								display:block;
								color: #60707a;
								&.number {
									color: @brand-primary;
									font-size: 18px;
								}
							}
						}

					}
				}
			}
		}




		> .jumbotron {
			background: url("http://placekitten.com/g/250/250") no-repeat center center;
			background-size: cover;
			border-radius: 5px;
		}

		> .profile-box{
			margin-left: 10px;
			margin-top: -30px;
			> a {
				> .profile-pic {
					width: 64px;
					height: 64px;
					border: 3px solid white;
					border-radius: 5px;
				}

			}
			> .profile-box{
				margin-left: 10px;
				margin-top: -30px;
				> a {
					> .profile-pic {
						width: 64px;
						height: 64px;
						border: 3px solid white;
						border-radius: 5px;
					}

				}
				> .real-name {
					font-size: 0.8em;
					margin-left: 75px;
					margin-top: -35px;
				}
				> .twatter-name{
					font-size: 0.7em;
					margin-left: 75px;
					margin-top: -13.5px;
				}
			}


		}

	}
}


.column-right{
	float: right;
	width: 270px;
	margin-right: 10px;

	> .box{
		border-radius: 5px;
		margin-top: 10px;
		border: 3px solid white;
		background-color: white;
		> small{
			color:gray;
		}
	}

}
.twat-index {
	background: #fff;
	width: 544px;
	border-radius: 5px;
	display: block;
	margin-left: -272px;
	vertical-align: middle;
	position: absolute;
	left:50%;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	>.media{
		>hr {
			margin-bottom: 2px;
		}

	}
}
#twat-btn{
	background-color: @brand-primary;
	height:18px;
}
#profile-dropdown{
	margin-top: -6px;
}


@media (max-width: 1201px) {
	.column-left{
		float: left top;
		display: inline-block;
		margin-top: 10px;
		clear: both;
	}
	.column-right{
		float: left;
		display: inline-block;
		clear:both;
		margin-left: 10px;
	}

	.twat-index {
		margin-top: 20px;
		float: left;
		margin-left: -15%;
		vertical-align: middle;
		position: absolute;
		left:50%;
	}
	.new-search{
		width:150px;
	}
}

@media (max-width: 992px) {
	.column-left{
		display: none;
	}
	.column-right{
		display: none;
	}
	.twat-index {
		background: #fff;
		width: 544px;
		border-radius: 5px;
		display: block;
		margin-left: -272px;
		vertical-align: middle;
		position: absolute;
		left:50%;
	}
	.new-search{
		display: none;
	}
}
.media-body{
	>span {

		>.usernamez{
			text-decoration: none;
			color: #000;
			font-size: 17px;
			&:hover{
				text-decoration: none;
			}
		}

	>a .glyphicon-remove{
		font-size: 10px;
		color: grey;
	}
}
}
.loveTwat{

	> a{
		>.glyphicon-share-alt{
			margin-top: 8px;
			font-size: 15px;
			margin-left: 5px;
			color: #7f8c8d;
		}

		>.glyphicon-retweet{
			font-size: 15px;
			margin-left: 25px;
			color: #7f8c8d;

		}
		>.glyphicon-heart{
			position: relative;
			font-size: 15px;
			margin-left: 25px;
			margin-right: 5px;
			color: #7f8c8d;

			>.loveValue{
				color: #7f8c8d;
				font-size: 12px;
				margin-left: 5px;
				position: absolute;
			}

		}
	}
}
.real-name >h4 {
	margin-bottom: 0px;
}

.media-body > p {
	max-width: 410px;
	word-wrap: break-word;
}
.timestamp{
	font-size: 12px;
	margin-left: 15px;
}
