#twatterlogologin {
	width: 35px;
	margin-top: 10px;
	margin-left: 150px;
}

#login-header, #login-text {
	color: #FFF;
	padding-top: 20px;
	font-weight: bolder;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .8);		
}

#loginForm{
	padding-top: 70px;
}

video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url("../images/storm.png") no-repeat;
background-size: cover;
}
