.feed-options {
	background: #fff;
	border-radius: 3px;
	border: 1px solid darken(#fff, 3.5%);
	width: 100%;
	.clearfix();
	>li {
		font-size: 45px;

		float: left;
		display: block;
		padding: 5px;
		list-style: none;
	}
}
.jumbotron-stealth {
	height: 350px;
	background: url("/static/images/stealth.jpg") center center no-repeat;
	background-size: cover;
}
.stats-row {
	background: #fff;
	height: 60px;
	> .container {
		>.profile-widget {
			float:left;
			top: -110px;
			position: relative;
			border: 5px solid #fff;
			border-radius: 5px;
			width: 200px;
			height: 200px;
			>img {
				width: 100%;
				height: 100%;
			}
			>.info {
				margin-top: 10px;
				>span {
					margin-top:-10px;
					&:first-child {
						margin-top: 0px;
						font-weight: 600;
						font-size: 18px;
					}
				}
			}
		}
		>ul {
			.clearfix();
			position: relative;
			left: 45px;
			list-style: none;
			>li {
				box-sizing: border-box;
				display:block;
				float: left;
				padding: 5px 10px 5px 10px;
				>a {
					&:hover {
						text-decoration: none;
					}
					color: @brand-primary;
					font-weight: 600;
					.text-center;
					>span {
						display:block;
						color: #60707a;
						&.number {
							color: @brand-primary;
							font-size: 22px;
						}
					}
				}

			}

			>.UserActions{
				>.btn-follow{
					margin-top: 10px;
				}
				>.btn-unfollow{
					margin-top: 10px;
					background: @brand-danger;
					border-color: darken(@brand-danger, 3.5%);
				}
			}
		}
	}
}

.twat-list {
	background: #fff;
	padding: 20px;
	width:600px;
	margin: 10px;
	margin-left: 245px;
}
.media-heading > small {
	color: #8899A6;
}
#makeTwat{
	.clearfix();
	list-style: none;
	position: relative;
	width: 100px;
	background-size: cover;
	margin-top: -7px;
}
.container{
	>.navbar-header {
		>a {
			>#twatterlogo{
				background: url("../static/images/twatterlogowhite.png");
				width: 35px;
				margin-top: -0.2em;
			}
		}
	}
}

.navbar-collapse{
	> ul{
		> li{
			@media (max-width: @screen-sm) {
				border-bottom: none !important;
			}
			&.ac{
				border-bottom: 3px solid white;
				} &:hover{
					border-bottom: 3px solid white;

				}
			}
		}
		>.navbar-right{
			>.noBorder{
				border: none !important;
				>a {
					width: 10px;
					height: 10px;
				}
			}
		}
	}

	@media (max-width: @screen-sm) {
		.twat-list {
			margin-left: 0px;
			width: 100%;
		}

		.navbar-collapse{
			> ul{
				> li{
					&.ac{
						border-bottom: none;
					}
					&:hover{
						text-decoration: none;

					}
				}
			}
		}
	}
	>.usernamez{
		text-decoration: none;
		color: #000;
		font-size: 17px;
		&:hover{
			text-decoration: none;
		}
	}



.active{

	&:hover{
		border-bottom: 3px solid @brand-primary;

}

}
