.stats-row{
	>.container{
		>.profile-widget{
			>.twatTo{
				>.btn-default{
					margin-top: 80px;
					width: 100%;
					height: 40px;
					background-color: @brand-primary;
					font-size: 15px;
					font-weight: bold;
					color: white;
					border: none;
					>.button-text{
						width: 100%;
						height: 40px;
						> i{
							margin-right: 10px;
					}
				}
				}
			}
		}
		>ul{
			>.UserActions{
				>.icon{
					> a{
						> i{
						font-size: 18px;
						line-height: 18px;

						margin-top: 18px;
						margin-left: -55px;
						}
					}
				}
				>.btn-follow{
					margin-bottom: 6px;
					width: 100px;
					height: 40px;
					font-size: 15px;
					font-weight: bold;
					margin-left: 8px;
					position: relative;
					
				}
			}
		}
		>.profile-widget{
			>.twatTo{

				height: 52px ;
				width: 100% ;
				
			}
		}
	}
}

