<!DOCTYPE html>
<html lang="en" ng-app="twatter">
<head>
  <meta charset="UTF-8">
  <title>Twatter - Next generation social network</title>
  <link rel="stylesheet" href="static/css/main.css">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="static/js/lib/sweetalert.css">
</head>
<body ng-controller="site">
  <nav class="navbar navbar-default navbar-fixed-top" ng-if="controller!='login'">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="#/dashboard" class="navbar-brand"><img id="twatterlogo" src="static/images/twatterlogowhite.png"></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng:class="{true:'ac', false:''}[controller=='dashboard' || controller=='search']"><a href="#/dashboard"><i class="glyphicon glyphicon-home"></i> Hem</a></li>
          <li ng:class="{true:'ac', false:''}[controller=='notifications']"><a href="#/notifications"><i ng-if="unreadNotifications > 0" style="color: #e74c3c;" class="glyphicon glyphicon-exclamation-sign"></i><i ng-if="unreadNotifications == 0" class="glyphicon glyphicon-exclamation-sign"></i> Notifikationer</a></li>
        </ul>
        <!--  <button type="submit" class="btn btn-default">Submit</button> -->
        <ul class="nav navbar-nav navbar-right">
          <li ng:class="{true:'ac', false:''}[controller=='profile']" class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Whadup, {{navuser.firstname}}! <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#/profile/0"><i class="glyphicon glyphicon-user"></i> Din profil</a></li>
              <li class="divider"></li>
              <li><a href="#/logout"><i class="glyphicon glyphicon-lock"></i> Logga ut</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right" ng-submit="search(searchfield);" role="search">

          <div class="input-group">
            <input type="text" ng-model="searchfield" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <div class="view-wrapper" ng-view>

  </div>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/services/user.js"></script>
  <script src="/static/js/services/twats.js"></script>
  <script src="/static/js/controllers/login.js"></script>
  <script src="/static/js/controllers/logout.js"></script>
  <script src="/static/js/controllers/dashboard.js"></script>
  <script src="/static/js/controllers/profile.js"></script>
  <script src="/static/js/controllers/search.js"></script>
  <script src="/static/js/controllers/notifications.js"></script>
  <script src="/static/js/controllers/site.js"></script>
  <script src="/static/js/lib/sweetalert.min.js"></script>
</body>
</html>
