.row{
	margin: 0;
}


.margin-top-20 {
	margin-top: 20px;
}
.media{

	>.loveTwat{

	> a{
		>.glyphicon-share-alt{
			font-size: 18px;
			margin-top: 10px;
			margin-left: 15%;
			}

		>.glyphicon-retweet{
			font-size: 18px;
			margin-top: 10px;
			margin-left: 25px;

		}
		>.glyphicon-heart{
			position: relative;
			font-size: 18px;
			margin-left: 25px;
			margin-right: 5px;

			>.loveValue{
			font-size: 15px;
			margin-left: 5px;
			position: absolute;
		}

		}
		>.glyphicon-remove{
			margin-left: 270px;
			font-size: 18px;
		}
	}
}
}
.retwat{
	color: lighten(black, 10%);
	font-size: 15px;
	margin-right: 5px;
}
.retwatter {
	margin-top: -2px;
}
