.feed-options {
	background: #fff;
	border-radius: 3px;
	border: 1px solid darken(#fff, 3.5%);
	width: 100%;
	.clearfix();
	>li {
		font-size: 45px;

		float: left;
		display: block;
		padding: 5px;
		list-style: none;
	}
}
.jumbotron-stealth {
	height: 350px;
	background: url("/static/images/stealth.jpg") center center no-repeat;
	background-size: cover;
}
.stats-row {
	background: #fff;
	height: 60px;
	> .container {
		>.profile-widget {
			float:left;
			top: -110px;
			position: relative;
			border: 5px solid #fff;
			border-radius: 5px;
			width: 200px;
			height: 200px;
			>img {
				width: 100%;
				height: 100%;
			}
			>.info {
				margin-top: 10px;
				>span {
					margin-top:-10px;
					&:first-child {
						margin-top: 0px;
						font-weight: 600;
						font-size: 18px;
					}
				}
			}
		}
		>ul {
			.clearfix();
			position: relative;
			left: 45px;
			list-style: none;
			>li {
				box-sizing: border-box;
				display:block;
				float: left;
				padding: 5px 10px 5px 10px;
				&:hover, &.active {
					border-bottom: 3px solid @brand-primary;
				}
				>a {
					&:hover {
						text-decoration: none;
					}
					color: @brand-primary;
					font-weight: 600;
					.text-center;
					>span {
						display:block;
						color: #60707a;
						&.number {
							color: @brand-primary;
							font-size: 22px;
						}
					}
				}
			}

		>.UserActions{
			>.user-settings{
			>.icon{
				>.glyphicon{
				height: 20px;
				width: 20px;
				margin-top: 10px;
				display: none;

				}

			}
			}
			}
		}
	}
}

.twat-list {
	background: #fff;
	padding: 20px;
	width:600px;
	margin: 10px;
	margin-left: 245px;
}
.media-heading > small {
	color: #8899A6;
}
#makeTwat{
	.clearfix();
	list-style: none;
	position: relative;
	width: 100px;
	background-size: cover;
	margin-top: -7px;
}
.navbar-collapse{
	> ul{
		> li{
			&.ac, &:hover{
				border-bottom: 3px solid white;

			}
		}
	}
	>.navbar-right{
		>.noBorder{
			border: none !important;
			>a {
				width: 10px;
				height: 10px;
			}
		}
	}
}
