<div class="container margin-top-20">

	<div class="column-left">
		<div class="box">
			<div class="jumbotron"></div>
			<div class="profile-box">
				<a href="#/profile/{{user.id}}"><img src="http://www.gravatar.com/avatar/{{user.emailHash}}" alt="" class="profile-pic"></a>
				<div class="real-name"><h4><a href="#/profile/{{user.id}}">{{user.firstname}} {{user.lastname}}</a></h4></div>
				<div class="twatter-name"><p><a href="#/profile/{{user.id}}">@{{user.username}}</a></p></div>
			</div>
			<div class="row prof-row">
				<div class="container">
					<ul>
						<li class="">
							<a>
								<span>TWATS</span>
								<span class="number">{{stats.twats}}</span>
							</a>
						</li>
						<li>
							<a>
								<span>FÖLJER</span>
								<span class="number">{{stats.following}}</span>
							</a>
						</li>
						<li>
							<a>
								<span>FÖLJARE</span>
								<span class="number">{{stats.followers}}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box"></div>
	</div>
	<div class="twat-list twat-index clearfix">
		<form action="" ng-submit="postTwat(twat);">
			<div class="input-group new-tweet">
					<input type="text" class="form-control postbox" ng-model="twat" placeholder="WHADUP DAWG?">
				<div class="input-group-btn">
					<button type="submit"class="btn btn-default">
						<span class="button-text"><i class="glyphicon glyphicon-send"></i> Twatta</span>
					</button>
				</div>
		</div>
		</form>
		<!-- TWAT -->
		<hr>
		<div class="media" ng-repeat="twat in twats">
			<div class="media-left">
				<a href="#/profile/{{twat.user.id}}">
					<img class="media-object profile-pic" src="http://www.gravatar.com/avatar/{{twat.user.emailHash}}">
				</a>
			</div>
			<div class="media-body">
				<span class="clearfix">
					<h6 ng-if="twat.retwat == true" class="retwatter"><i data-toggle="tooltip" class="glyphicon glyphicon-retweet retwat"></i>Retwattad från @{{twat.originalPoster.username}}</h6>
					<a href="#/profile/{{twat.user.id}}" class="media-heading pull-left usernamez">{{twat.user.firstname}} {{twat.user.lastname}} <small>@{{twat.user.username}}</small><small class="timestamp">{{pretty(twat.timestamp)}}</small></a>
					<a class="pull-right" href="" ng-if="user.id == twat.originalPoster.id" ng-click="deleteTwat(twat.ogTwat.id);"><i class="glyphicon glyphicon-remove"></i></a>
					<a class="pull-right" href="" ng-if="user.id == twat.user.id" ng-click="deleteTwat(twat.id);"><i class="glyphicon glyphicon-remove"></i></a>
				</span>
				<p ng-bind-html="parseTwat(twat.text) | to_trusted"></p>
				<div class="loveTwat">
					<a href="" ng-if="user.id != twat.user.id" ng-click="respond(twat.user.username)"><i class="glyphicon glyphicon-share-alt"></i></a>
					<a href="" ng-if="user.id != twat.user.id && user.id != twat.ogTwat.user.id" ng-click="retwat(twat.id);"><i class="glyphicon glyphicon-retweet"></i></a>
				</div>

			</div>
			<hr>
		</div>

		<!-- TWAT -->
	</div>
</div>
