<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

</head>
<body>
  <video autoplay loop poster="/static/images/storm.png" id="bgvid">
    <source src="/static/videos/storm.mov">
    </video>
    <div class="container" id="loginForm">
      <div class="col-md-8 login-info">
        <h1 id="login-header">Välkommen till Twatter.</h1>
        <h2 id="login-text">Anslut med dina fiender och andra dåliga personer. Få omedelbara uppdateringar om de saker som irriterar dig. Följ händelser medan de pågår i realtid, från alla vinklar.</h2>


      </div>
      <div class="col-md-4">
        <div class="panel panel-default" style="margin-top: 35px;">
          <div class="panel-body">
            <h3 class="panel-title">Logga in</h3>
            <form action="" ng-submit="login();">
              <div class="form-group">
                <input type="text" ng-model="username" id="email" class="form-control input-sm" placeholder="Användarnamn">
              </div>
              <div class="form-group">
                <input type="password" ng-model="password" id="password" class="form-control input-sm" placeholder="Lösenord">
              </div>
              <hr>
              <input type="submit" id="loginbtn" value="Logga in" class="btn btn-info btn-block">
            </form>
          </div>
        </div>
        <div class="panel panel-default" style="margin-top: 35px;" id="registerpanel">
          <div class="panel-body">
            <h3 class="panel-title">Ny på twatter? Registrera dig!</h3>
            <form action="" ng-submit="register();">
              <div class="form-group">
                <input type="text" ng-model="regfirstname" id="firstname" class="form-control input-sm" placeholder="Namn">
              </div>
              <div class="form-group">
                <input type="text" ng-model="reglastname" id="lastname" class="form-control input-sm" placeholder="Efternamn">
              </div>
              <div class="form-group">
                <input type="text" ng-model="regemail" id="email" class="form-control input-sm" placeholder="E-Post">
              </div>
              <hr>
              <div class="form-group">
                <input type="text" ng-model="regusername" id="email" class="form-control input-sm" placeholder="Användarnamn">
              </div>
              <div class="form-group">
                <input type="password" ng-model="regpassword" id="password" class="form-control input-sm" placeholder="Lösenord">
              </div>
              <hr>
              <input type="submit" id="registerbtn" value="Registrera dig" class="btn btn-info btn-block">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
