<div class="container margin-top-20">
  <div class="twat-list container-fluid">
    <div class="media" ng-repeat="result in results">
      <div ng-if="result.type == 'twat'">
        <div class="media-left">
  				<a href="#/profile/{{result.twat.user.id}}">
  					<img class="media-object profile-pic" src="http://www.gravatar.com/avatar/{{result.twat.user.emailHash}}">
  				</a>
  			</div>
  			<div class="media-body">
  				<span class="clearfix">
  					<h6 ng-if="twat.retwat == true" class="retwatter"><i data-toggle="tooltip" class="glyphicon glyphicon-retweet retwat"></i>Retwattad från @{{twat.originalPoster.username}}</h6>
       <a href="#/profile/{{result.twat.user.id}}" class="media-heading pull-left usernamez" id="username">{{result.twat.user.firstname}} {{result.twat.user.lastname}} <small>@{{result.twat.user.username}}</small><small class="timestamp">{{pretty(result.twat.timestamp)}}</small></a>
  				</span>
  				<p ng-bind-html="parseTwat(result.twat.text) | to_trusted"></p>
  			</div>
      </div>
      <div ng-if="result.type == 'user'">
        <div class="media-left">
          <a href="#/profile/result.user.id">
            <img class="media-object" src="http://www.gravatar.com/avatar/{{result.user.emailHash}}">
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading">{{result.user.firstname}} {{result.user.lastname}}</h3>
          <h4 class="media-heading"><a href="#/profile/{{result.user.id}}">@{{result.user.username}}</a></h4>
        </div>
      </div>
      <hr>
    </div>


  </div>
</div>
