<div class="jumbotron jumbotron-stealth"></div>
<div class="row stats-row">
  <div class="container">
    <div class="profile-widget hidden-s hidden-xs">
      <img src="http://www.gravatar.com/avatar/{{user.emailHash}}?s=250">
      <div class="info">
        <h3>{{user.firstname}} {{user.lastname}}</h3>
        <span>@{{user.username}}</span>
      </div>
      <div class="twatTo" ng-if="me.id != user.id">
        <button class="btn btn-default">
          <span class="button-text"><i class="glyphicon glyphicon-send"></i>Twatta till</span>
        </button>
      </div>
    </div>
    <ul>
      <li>
        <a>
          <span>TWATS</span>
          <span class="number">{{stats.twats}}</span>
        </a>
      </li>
      <li class="active">
        <a href="" data-toggle="modal" data-target="#followingModal">
          <span>FÖLJER</span>
          <span class="number">{{stats.following}}</span>
        </a>
      </li>
      <li class="active">
        <a href="" data-toggle="modal" data-target="#followersModal">
          <span>FÖLJARE</span>
          <span class="number">{{stats.followers}}</span>
        </a>
      </li>
      <div class="UserActions pull-right" ng-if="me.id != user.id">
        <button ng-if="!following" ng-click="toggleFollow();" class="btn btn-primary btn-follow">Följ</button>
        <button ng-if="following" ng-click="toggleFollow();" class="btn btn-primary btn-follow btn-unfollow">Sluta följa</button>
      </div>

    </ul>
  </div>
</div>

<!-- twatlist -->
<div class="container">
  <div class="twat-list">
   <form action="" ng-submit="postTwat(twat);">
    <div class="input-group new-tweet">
      <input type="text" class="form-control postbox" ng-model="twat" placeholder="WHADUP DAWG?">
     <div class="input-group-btn">
      <button type="submit"class="btn btn-default">
       <span class="button-text"><i class="glyphicon glyphicon-send"></i> Twatta</span>
      </button>
     </div>
    </div>
    <hr>
   </form>
  <!-- TWAT -->
    <div class="media" ng-repeat="twat in twats">
      <div class="media-left">
        <a href="#/profile/{{twat.user.id}}">
          <img class="media-object profile-pic" src="http://www.gravatar.com/avatar/{{twat.user.emailHash}}">
        </a>
      </div>
      <div class="media-body">
        <span class="clearfix">
          <h6 ng-if="twat.retwat == true" class="retwatter"><i data-toggle="tooltip" class="glyphicon glyphicon-retweet retwat"></i>Retwattad från @{{twat.originalPoster.username}}</h6>
          <a href="#/profile/{{twat.user.id}}" class="media-heading pull-left usernamez" id="username">{{twat.user.firstname}} {{twat.user.lastname}} <small>@{{twat.user.username}}</small><small class="timestamp">{{pretty(twat.timestamp)}}</small></a>
          <a class="pull-right" href="" ng-if="me.id == twat.originalPoster.id" ng-click="deleteTwat(twat.ogTwat.id);"><i class="glyphicon glyphicon-remove"></i></a>
          <a class="pull-right" href="" ng-if="me.id == twat.user.id" ng-click="deleteTwat(twat.id);"><i class="glyphicon glyphicon-remove"></i></a>
        </span>
        <p ng-bind-html="parseTwat(twat.text) | to_trusted"></p>
        <div class="loveTwat">

          <a href="" ng-if="me.id != twat.user.id" ng-click="respond(twat.user.username)"><i class="glyphicon glyphicon-share-alt"></i></a>
          <a href="" ng-if="me.id != twat.user.id && me.id != twat.ogTwat.user.id" ng-click="retwat(twat.id);"><i class="glyphicon glyphicon-retweet"></i></a>
        </div>

      </div>
      <hr>
    </div>

    <!-- TWAT -->
  </div>
</div>
<div class="modal fade" id="followingModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Följer</h4>
      </div>
      <div class="modal-body">
       <div class="media" ng-repeat="result in following">
         <div ng-if="result.type == 'twat'">
           <div class="media-left">
         <a href="#/profile/{{result.twat.user.id}}">
          <img class="media-object profile-pic" src="http://www.gravatar.com/avatar/{{result.twat.user.emailHash}}">
         </a>
        </div>
        <div class="media-body">
         <span class="clearfix">
          <h6 ng-if="twat.retwat == true" class="retwatter"><i data-toggle="tooltip" class="glyphicon glyphicon-retweet retwat"></i>Retwattad från @{{twat.originalPoster.username}}</h6>
          <h4 class="media-heading pull-left">{{result.twat.user.firstname}} {{result.twat.user.lastname}} <small>@{{result.twat.user.username}}</small></h4>
         </span>
         <p ng-bind-html="parseTwat(result.twat.text) | to_trusted"></p>
        </div>
         </div>
         <div ng-if="result.type == 'user'">
           <div class="media-left">
             <a href="#/profile/{{result.user.id}}" data-dismiss="modal">
               <img class="media-object" src="http://www.gravatar.com/avatar/{{result.user.emailHash}}">
             </a>
           </div>
           <div class="media-body">
             <h3 class="media-heading">{{result.user.firstname}} {{result.user.lastname}}</h3>
             <h4 class="media-heading"><a href="#/profile/{{result.user.id}}" data-dismiss="modal">@{{result.user.username}}</a></h4>
           </div>
         </div>
         <hr>
       </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="followersModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Följare</h4>
      </div>
      <div class="modal-body">
       <div class="media" ng-repeat="result in followers">
         <div ng-if="result.type == 'twat'">
           <div class="media-left">
         <a href="#/profile/{{result.twat.user.id}}">
          <img class="media-object profile-pic" src="http://www.gravatar.com/avatar/{{result.twat.user.emailHash}}">
         </a>
        </div>
        <div class="media-body">
         <span class="clearfix">
          <h6 ng-if="twat.retwat == true" class="retwatter"><i data-toggle="tooltip" class="glyphicon glyphicon-retweet retwat"></i>Retwattad från @{{twat.originalPoster.username}}</h6>
          <h4 class="media-heading pull-left">{{result.twat.user.firstname}} {{result.twat.user.lastname}} <small>@{{result.twat.user.username}}</small></h4>
         </span>
         <p ng-bind-html="parseTwat(result.twat.text) | to_trusted"></p>
        </div>
         </div>
         <div ng-if="result.type == 'user'">
           <div class="media-left">
             <a href="#/profile/{{result.user.id}}" data-dismiss="modal">
               <img class="media-object" src="http://www.gravatar.com/avatar/{{result.user.emailHash}}">
             </a>
           </div>
           <div class="media-body">
             <h3 class="media-heading">{{result.user.firstname}} {{result.user.lastname}}</h3>
             <h4 class="media-heading"><a href="#/profile/{{result.user.id}}" data-dismiss="modal">@{{result.user.username}}</a></h4>
           </div>
         </div>
         <hr>
       </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
      </div>
    </div>
  </div>
</div>
